@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html { display: block; width: 100%; height: 100%;}
body, html { position: relative; font-family: 'Montserrat';}
.logo { max-width: 150px; width: 100%;}
.nav-link { text-transform: capitalize; }
.nav-link.active{ border-bottom: 2px solid green; }
.nav-link:hover { border-bottom: 2px solid green; }
#banner { position:relative ; width: 100%; padding: 100px 0; background: url(../images/banner.jpeg)no-repeat center center; background-attachment: fixed; background-size: 100%;}
#banner h2 { color: green; font-weight: 900; text-shadow: 2px 2px #000;}
.title { padding: 30px 0; text-align: center; background: url(../images/title.jpeg)no-repeat center center; background-attachment: fixed; background-size: 100%;}
h1 { color: green; font-weight: 900; text-shadow: 2px 2px #000; }
.description { font-size: 18px; font-weight: 700; margin: 10px 0 0; color: green; text-shadow: 2px 2px #333; color: green;}
.key-information-tab h3 { font-size: 20px; color: #333; }
.key-information-tab p { font-size: 25px; color: #004ec4;}
.home-title { position: relative; margin: 0 0 50px; font-size: 30px; color: #008000; text-align: center;}
.home-title::after { content: ''; position: absolute; bottom: -20px; left: 50%; -ms-transform: translateX(-50%); transform: translateX(-50%); background: orange; width: 50px; height: 10px;}